@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="table-container">

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>                
                <th scope="col">Time Stamp</th>
                <th scope="col">Log Level</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

